{% extends "order/client/base.html" %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-1">Наименование:</div>
            <div class="col-11">{{ orderclient.name }}</div>
        </div>
        <div class="row">
            <div class="col-1">Стоимость:</div>
            <div class="col-11">{{ orderclient.cost }}</div>
        </div>
        <div class="row">
            <div class="col-1">Дата доставки:</div>
            <div class="col-11">{{ orderclient.date_delivery }}</div>
        </div>
        <div class="row">
            <div class="col-1">Дата выполнения:</div>
            <div class="col-11">{{ orderclient.date_finish }}</div>
        </div>
        <div class="row">
            <div class="col-1">Адрес:</div>
            <div class="col-11">{{ orderclient.address }}</div>
        </div>
    </div>
    <hr>
    {% if orderclient.status != 6 %}
        <form method="POST" action="{% url "order_cl_update" orderclient.pk %}">
            {% csrf_token %}
            <div><input class="btn btn-primary" type="submit" value="Подтвердить выполнение"></div>
        </form>
    {% endif %}
{% endblock %}