{% extends "order/client/base.html" %}

{% block content %}
    {% for orderclient in orderclient_list %}
        <div>Идентификатор: {{ orderclient.name }}</div>
        <div>Статус: {{ orderclient.get_status_display }}</div>
        <div><a class="btn btn-primary" href="{{ orderclient.get_absolute_url }}">Подробнее</a></div>
        <hr>
    {% endfor %}
{% endblock %}