{% extends "customer/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">ФИО:</div>
            <div class="col-11">{{ customuser.fio }}</div>
        </div>
        <div class="row">
            <div class="col-1">Паспорт:</div>
            <div class="col-11">{{ customuser.passport }}</div>
        </div>
        <div class="row">
            <div class="col-1">Должность:</div>
            <div class="col-11">{{ customuser.post }}</div>
        </div>
    </div><hr>
    <a href="{% url 'customer_update' customuser.pk %}" class="navbar-brand">Изменить</a>
{% endblock %}