{% extends "customer/base.html" %}

{% block content %}
    {% for customer in customuser_list %}
        <div>{{ customer }}</div>
        <div><a class="btn btn-primary" href="{{ customer.get_absolute_url }}">Подробнее</a></div>
        <hr>
    {% endfor %}
{% endblock %}