{% extends "customer/base.html" %}

{% block pre_content %}
    <h1>Подчиненный '{{ form.instance.username }}'</h1>
    <hr>
{% endblock %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <table>
                <tr>
                    <td>{{ form.post.label_tag }}</td>
                    <td>{{ form.post }}</td>
                </tr>
            </table>
        </div>

        <input class="btn btn-success" type="submit" value="Изменить"/>
    </form>
{% endblock %}