{% extends "factory/base.html" %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <table>
                <tr>
                    <td>{{ form.name.label_tag }}</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.inn.label_tag }}</td>
                    <td>{{ form.inn }}</td>
                </tr>
                <tr>
                    <td>{{ form.address.label_tag }}</td>
                    <td>{{ form.address }}</td>
                </tr>
                <tr>
                    <td>{{ form.number.label_tag }}</td>
                    <td>{{ form.number }}</td>
                </tr>
            </table>
        </div>

        <input class="btn btn-success" type="submit" value="Создать"/>
    </form>
{% endblock %}