{% extends "factory/base.html" %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-1">Наименование:</div>
            <div class="col-11">{{ factory.name }}</div>
        </div>
        <div class="row">
            <div class="col-1">ИНН:</div>
            <div class="col-11">{{ factory.inn }}</div>
        </div>
        <div class="row">
            <div class="col-1">Адрес:</div>
            <div class="col-11">{{ factory.address }}</div>
        </div>
        <div class="row">
            <div class="col-1">Номер телефона:</div>
            <div class="col-11">{{ factory.number }}</div>
        </div>
    </div><hr>
    <form method="POST" action="{% url "factory_delete" factory.pk %}">
        {% csrf_token %}
        <div><input class="btn btn-danger" type="submit" value="Удалить"></div>
    </form>
{% endblock %}