{% extends "factory/base.html" %}

{% block content %}
    {% for factory in factory_list %}
        <div>{{ factory }}</div>
        <div><a class="btn btn-primary" href="{{ factory.get_absolute_url }}">Подробнее</a></div>
        <hr>
    {% endfor %}
{% endblock %}