{% extends "category_furniture/base.html" %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-1">Наименование:</div>
            <div class="col-11">{{ categoryfurniture.name }}</div>
        </div>
    </div><hr>
    <form method="POST" action="{% url "category_furniture_delete" categoryfurniture.pk %}">
        {% csrf_token %}
        <div><input class="btn btn-danger" type="submit" value="Удалить"></div>
    </form>
{% endblock %}