{% extends "category_furniture/base.html" %}

{% block content %}
    {% for category in categoryfurniture_list %}
        <div>{{ category }}</div>
        <div><a class="btn btn-primary" href="{{ category.get_absolute_url }}">Подробнее</a></div>
        <hr>
    {% endfor %}
{% endblock %}