{% extends "order/customer/base.html" %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <table>
                <tr>
                    <td>{{ form.name.label_tag }}</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.status.label_tag }}</td>
                    <td>{{ form.status }}</td>
                </tr>
                <tr>
                    <td>{{ form.cost.label_tag }}</td>
                    <td>{{ form.cost }}</td>
                </tr>
                <tr>
                    <td>{{ form.date_start.label_tag }}</td>
                    <td>{{ form.date_start }}</td>
                </tr>
                <tr>
                    <td>{{ form.address.label_tag }}</td>
                    <td>{{ form.address }}</td>
                </tr>
                <tr>
                    <td>{{ form.client.label_tag }}</td>
                    <td>{{ form.client }}</td>
                </tr>
            </table>
        </div>

        <input class="btn btn-success" type="submit" value="Создать"/>
    </form>
{% endblock %}