{% extends "order/customer/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">Наименование:</div>
            <div class="col-11">{{ order.name }}</div>
        </div>
        <div class="row">
            <div class="col-1">Стоимость:</div>
            <div class="col-11">{{ order.cost }}</div>
        </div>
        <div class="row">
            <div class="col-1">Дата доставки:</div>
            <div class="col-11">{{ order.date_delivery }}</div>
        </div>
        <div class="row">
            <div class="col-1">Дата выполнения:</div>
            <div class="col-11">{{ order.date_finish }}</div>
        </div>
        <div class="row">
            <div class="col-1">Адрес:</div>
            <div class="col-11">{{ order.address }}</div>
        </div>
    </div>
    <hr>

    <form method="POST" action="{% url "order_delete" order.pk %}">
        {% csrf_token %}
        <a  href="{% url 'order_update' order.pk %}" class="btn btn-primary">Изменить</a>
        <input class="btn btn-danger" type="submit" value="Удалить">
    </form>
{% endblock %}