{% extends "order/customer/base.html" %}

{% block content %}
    {% for order in order_list %}
        <div>{{ order }}</div>
        <div><a class="btn btn-primary" href="{{ order.get_absolute_url }}">Подробнее</a></div>
        <hr>
    {% endfor %}
{% endblock %}