{% extends "main/base.html" %}

{% block body %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}

    <form class="form-horizontal" method="post" action="{% url 'login' %}">
    {% csrf_token %}
        <div class="form-group">
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>
        </div>

        <input class="btn btn-success" type="submit" value="Войти" />
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}