{% extends "main/base.html" %}

{% block body %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password1.label_tag }}</td>
                    <td>{{ form.password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.password2.label_tag }}</td>
                    <td>{{ form.password2 }}</td>
                </tr>
                <tr>
                    <td>{{ form.fio.label_tag }}</td>
                    <td>{{ form.fio }}</td>
                </tr>
                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td>{{ form.passport.label_tag }}</td>
                    <td>{{ form.passport }}</td>
                </tr>
                <tr>
                    <td>{{ form.dob.label_tag }}</td>
                    <td>{{ form.dob }}</td>
                </tr>
                <tr>
                    <td>{{ form.type.label_tag }}</td>
                    <td>{{ form.type }}</td>
                </tr>
            </table>
        </div>

        <input class="btn btn-success" type="submit" value="Зарегистрироваться"/>
    </form>
{% endblock %}