{% extends "furniture/base.html" %}

{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">{{ form.errors }}</div>
    {% endif %}

    <form class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <table>
                <tr>
                    <td>{{ form.name.label_tag }}</td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td>{{ form.cost.label_tag }}</td>
                    <td>{{ form.cost }}</td>
                </tr>
                <tr>
                    <td>{{ form.count.label_tag }}</td>
                    <td>{{ form.count }}</td>
                </tr>
                <tr>
                    <td>{{ form.category.label_tag }}</td>
                    <td>{{ form.category }}</td>
                </tr>
                <tr>
                    <td>{{ form.factory.label_tag }}</td>
                    <td>{{ form.factory }}</td>
                </tr>
                <tr>
                    <td>{{ form.order.label_tag }}</td>
                    <td>{{ form.order }}</td>
                </tr>
            </table>
        </div>

        <input class="btn btn-success" type="submit" value="Создать"/>
    </form>
{% endblock %}