{% extends "furniture/base.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-1">Наименование:</div>
            <div class="col-11">{{ furniture.name }}</div>
        </div>
        <div class="row">
            <div class="col-1">Цена:</div>
            <div class="col-11">{{ furniture.cost }}</div>
        </div>
        <div class="row">
            <div class="col-1">Количество:</div>
            <div class="col-11">{{ furniture.count }}</div>
        </div>
        <div class="row">
            <div class="col-1">Категория:</div>
            <div class="col-11">{{ furniture.category }}</div>
        </div>
        <div class="row">
            <div class="col-1">Завод:</div>
            <div class="col-11">{{ furniture.factory }}</div>
        </div>
        <div class="row">
            <div class="col-1">Заказ:</div>
            <div class="col-11">{{ furniture.order }}</div>
        </div>
    </div>
    <hr>
    <form method="POST" action="{% url "furniture_delete" furniture.pk %}">
        {% csrf_token %}
        <div><input class="btn btn-danger" type="submit" value="Удалить"></div>
    </form>
{% endblock %}