{% extends "furniture/base.html" %}

{% block content %}
    {% for furniture in furniture_list %}
        <div>{{ furniture }}</div>
        <div><a class="btn btn-primary" href="{{ furniture.get_absolute_url }}">Подробнее</a></div>
        <hr>
    {% endfor %}
{% endblock %}