<html>
<head>
    <!-- Кодировка веб-страницы -->
    <meta charset="utf-8">
    <!-- Настройка viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Мебельный магазин</title>
    <link rel="stylesheet" href='/static/index.css'/>

    <!-- Bootstrap CSS (Cloudflare CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
          integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">
    <!-- jQuery (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Bootstrap Bundle JS (Cloudflare CDN) -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
            integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a href="/" class="navbar-brand">Главная</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}" class="navbar-brand">Выйти</a>
            {% else %}
                <a href="{% url 'login' %}" class="navbar-brand">Войти</a>
                <a href="{% url 'registration' %}" class="navbar-brand">Регистрация</a>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container-fluid">
    {% block body %}
        {% if user.customuser.is_authenticated %}
            {% block pre_content %}
            {% endblock %}
            {% block content %}
            {% endblock %}
        {% else %}
            <div class="alert alert-danger" role="alert">Необходимо войти в систему</div>
        {% endif %}
    {% endblock %}
</div>
</body>
</html>