{% extends "main/base.html" %}

{% block pre_content %}
    {% if user.customuser.is_director %}
        <h1>Директор '{{ user.customuser.fio }}'</h1>
        <hr>
    {% elif user.customuser.is_customer %}
        <h1>Сотрудник '{{ user.customuser.fio }}'</h1>
        <hr>
    {% elif user.customuser.is_client %}
        <h1>Клиент '{{ user.customuser.fio }}'</h1>
        <hr>
    {% endif %}
{% endblock %}
{% block content %}
    {% if user.customuser.is_director %}
        <div><a href="{% url 'factory_list' %}" class="navbar-brand">Посмотреть список заводов</a></div>
        <div><a href="{% url 'factory_create' %}" class="navbar-brand">Добавить завод</a></div>
        <hr>
        <div><a href="{% url 'post_list' %}" class="navbar-brand">Посмотреть список должностей</a></div>
        <div><a href="{% url 'post_create' %}" class="navbar-brand">Добавить должность</a></div>
        <hr>
        <div><a href="{% url 'customer_list' %}" class="navbar-brand">Посмотреть список подчиненных</a></div>
    {% elif user.customuser.is_customer %}
        <div><a href="{% url 'category_furniture_list' %}" class="navbar-brand">Посмотреть список категорий мебели</a></div>
        <div><a href="{% url 'category_furniture_create' %}" class="navbar-brand">Добавить категорию мебели</a></div>
        <hr>
        <div><a href="{% url 'furniture_list' %}" class="navbar-brand">Посмотреть список мебелей</a></div>
        <div><a href="{% url 'furniture_create' %}" class="navbar-brand">Добавить мебель</a></div>
        <hr>
        <div><a href="{% url 'order_list' %}" class="navbar-brand">Посмотреть список заказов</a></div>
        <div><a href="{% url 'order_create' %}" class="navbar-brand">Добавить заказ</a></div>
    {% elif user.customuser.is_client %}
        <div><a href="{% url 'order_act_list' %}" class="navbar-brand">Посмотреть список актуальных заказов</a></div>
        <div><a href="{% url 'order_irr_list' %}" class="navbar-brand">Посмотреть список неактуальных заказов</a></div>
    {% endif %}
{% endblock %}