{% extends "post/base.html" %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-1">Наименование:</div>
            <div class="col-11">{{ post.name }}</div>
        </div>
        <div class="row">
            <div class="col-1">Оклад:</div>
            <div class="col-11">{{ post.cost }}</div>
        </div>
    </div><hr>
    <form method="POST" action="{% url "post_delete" post.pk %}">
        {% csrf_token %}
        <div><input class="btn btn-danger" type="submit" value="Удалить"></div>
    </form>
{% endblock %}