{% extends "post/base.html" %}

{% block content %}
    {% for post in post_list %}
        <div>{{ post }}</div>
        <div><a class="btn btn-primary" href="{{ post.get_absolute_url }}">Подробнее</a></div>
        <hr>
    {% endfor %}
{% endblock %}